.boton a{
  font-size: 14px;
  text-align: center;
  width: 100px;
  height: 40px;
  text-decoration: none;
  color: black;
}

.card{
  padding: 10px;
}

.card-title{
  font-size: 35px;
  font-family: cursive;
}

.card-text{
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
